# **TUGAS PANDAS**

---

Nama: Afifah Zuriah Mindarini

NIM: 245150301111001

Setelah mengikuti workshop Numpy dan Pandas, tentunya kalian sudah mulai memahami hal-hal apa saja yang akan dilakukan oleh Data Scientist dengan Pandas. Sekarang, saatnya mengukur kemampuan kalian dari apa yang telah kalian dapatkan pada workshop sebelumnya.

**Deadline: Jumat, 21 Februari 2025**

## **Dataset**

Pada penugasan kali ini, dataset yang digunakan adalah dataset titanic.

In [1]:
!wget https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

--2025-02-21 14:48:22--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.01s

2025-02-21 14:48:22 (4.29 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [2]:
import pandas as pd

df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# **📊 Pandas Exercise: Titanic Dataset 🚢**

Selamat datang di latihan eksplorasi data menggunakan **Pandas**!  
Kita akan menggunakan dataset **Titanic** untuk menerapkan berbagai teknik analisis data seperti seleksi, agregasi, pengolahan nilai kosong, sorting, dan banyak lagi.  

---

## **📌 Soal 1: Menampilkan Informasi Dataset** 📝

Tampilkan **informasi umum** tentang dataset Titanic, termasuk:  
✅ Jumlah baris dan kolom  
✅ Tipe data setiap kolom  
✅ Jumlah nilai yang hilang dalam dataset

In [3]:
# Tulis program (jawaban) disini
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## **📌 Soal 2: Menampilkan Ringkasan Statistik** 📊  

### **Penjelasan:**  
Ringkasan statistik membantu kita memahami distribusi data dalam dataset.  
Coba tampilkan informasi seperti:  
- **Rata-rata, min, max, standar deviasi**  
- **Persentil (25%, 50%, 75%)**, yang menunjukkan distribusi data

In [4]:
# Tulis program (jawaban) disini
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## **📌 Soal 3: Seleksi Data** 🎯  

### **Penjelasan:**  
Sering kali kita ingin **menyaring data** berdasarkan kondisi tertentu.  
Misalnya, kita ingin melihat hanya penumpang **perempuan** yang masih **anak-anak** dan dengan fare pada kondisi tertentu.  
Dengan **Boolean Indexing**, kita bisa memilih data berdasarkan kondisi seperti:  
- **`Hanya menampilkan penumpang perempuan  `**
- **`Hanya menampilkan anak-anak (kurang dari 18 tahun) `**
- **`Hanya menampilkan Fare lebih dari 10 dan kurang dari sama dengan 30`**   
- **`Hanya menampilkan sepuluh teratas`**

In [5]:
# Tulis program (jawaban) disini
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

## **📌 Soal 4: Menghitung Jumlah Nilai Unik** 🔢  

### **Penjelasan:**  
Terkadang kita perlu mengetahui **jumlah kategori unik** dalam suatu kolom.  
Misalnya, di dataset Titanic, kita ingin tahu:  
- **Berapa kelas tiket (`Pclass`) yang tersedia?**  
- **Berapa pelabuhan keberangkatan (`Embarked`) yang digunakan?**

In [6]:
# Tulis program (jawaban) disini
print(df['Pclass'].nunique())
print(df['Embarked'].nunique())

3
3

## **📌 Soal 5: Menampilkan Jumlah Penumpang dalam Setiap Kelas** 🎟️  

### **Penjelasan:**  
Hitung jumlah **penumpang** berdasarkan **kelas tiket**.  
Coba lihat distribusi penumpang di masing-masing kelas!

In [7]:
# Tulis program (jawaban) disini
print(df['Pclass'].value_counts())

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

## **📌 Soal 6: Mengelompokkan Data Berdasarkan Kelas Tiket** 🎟️  

### **Penjelasan:**  
Kelompokkan data berdasarkan **kelas tiket**, lalu cari tahu:  
- **Rata-rata usia penumpang di setiap kelas**
- **Jumlah orang yang bertahan hidup**

In [8]:
# Tulis program (jawaban) disini
df_group_by_class = df.groupby('Pclass')
aggregate = df_group_by_class.agg({
    'Age' : 'mean',
    'Survived' : 'sum'
})
print(aggregate)

              Age  Survived
Pclass
1       38.233441       136
2       29.877630        87
3       25.140620       119

## **📌 Soal 7: Menambahkan Kolom Baru Berdasarkan Kategori Usia** 🏷️  

### **Penjelasan:**  
Buatlah kolom baru bernama **"Age Category"**, dengan ketentuan berikut:  
- **"Child"** jika umur di bawah 18  
- **"Adult"** jika umur 18 ke atas

In [9]:
# Tulis program (jawaban) disini
def umur(a):
  if a<18:
    return 'Child'
  else:
    return 'Adult'

df['Age Category'] = df['Age'].apply(umur)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age Category
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Adult

## **📌 Soal 8: Menghapus Data Kosong** ⚠️  

### **Penjelasan:**  
Hapus semua **baris** yang memiliki **nilai kosong pada kolom "Age"**.  
Kemudian, tampilkan jumlah baris setelah penghapusan.

In [10]:
# Tulis program (jawaban) disini
df = df.dropna(subset = 'Age')
df.shape

(714, 13)

## **📌 Soal 9: Sorting Data** 🔽🔼  

### **Penjelasan:**  
Urutkan dataset berdasarkan:  
- **"Fare" secara descending** (tertinggi ke terendah)  
- **"Age" secara ascending** (termuda ke tertua)

In [13]:
# Tulis program (jawaban) disini
df.sort_values(by=['Fare', 'Age'], ascending=[False, True])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age Category
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,Adult
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,Adult
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,Adult
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Adult
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0000,NaN,S,Adult
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S,Adult
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S,Adult
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0000,B94,S,Adult
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0000,NaN,S,Adult

## **📌 Soal 10: Menyimpan DataFrame** 💾  

### **Penjelasan:**  
Setelah data diolah, kita mungkin ingin **menyimpannya ke file** agar bisa digunakan nanti.  
Simpan dataset yang telah dibersihkan (tanpa nilai kosong pada "Age") ke dalam **file CSV**.

In [12]:
# Tulis program (jawaban) disini

# **🎯 Conclusion**  

Awesome job! 🎉 You’ve explored and analyzed the **Titanic dataset** using **Pandas**.  
Keep digging deeper, because there’s always more to discover! 🚀📊  

> **"Data is like a chest in Minecraft—sometimes it’s full of treasure, sometimes it’s just dirt."** ⛏️😆